<footer class="bottom-0 right-0 left-0 bg p-8">
<div class="footer-title py-2">
    <h2 class="font-semibold mb-2 text-xl">Get the FreshCart app</h2>
    <p>We will send you a link, open it on your phone to download the app</p>
</div>
 <div class="flex w-full py-3 gap-2 items-center">
    <div class="rounded-lg w-full">
        <div class="relative bg-inherit w-full bg-white">
            <input type="email" id="email" name="email" class="peer bg-transparent h-10 w-full rounded-lg text-black placeholder-transparent ring-2 px-2 ring-gray-500 focus:ring-sky-600 focus:outline-none focus:border-rose-600" placeholder="email"/>
            <label for="email" class="absolute cursor-text left-0 -top-3 text-sm text-gray-500 bg-inherit mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-sky-600 peer-focus:text-sm transition-all">Your Email</label>
        </div>
    </div>
    <button class="capitalize btn-main w-2/12">share app link</button>

 </div> 
<hr>
<div class="flex justify-between ">
    <div class="flex flex-wrap py-4 px-2">
        <span class="capitalize font-semibold">payment partners</span>
        <img src="../../../assets/images/amazon-pay.png" class="w-16 px-2" alt="amazon-pay">
        <img src="../../../assets/images/American-Express-Color.png" class="w-16 px-2" alt="American-Express">
        <img src="../../../assets/images/mastercard.webp" class="w-16 px-2" alt="mastercard">
        <img src="../../../assets/images/paypal.png" class="w-16 px-2" alt="paypal">
    </div>
    <div class="flex py-4 px-2">
        <span class="font-semibold"> Get deliveries with FreshCart</span>
        <img src="../../../assets/images/get-apple-store.png" class="w-20 px-2" alt="get-apple-store">
        <img src="../../../assets/images/get-google-play.png" class="w-20 px-2" alt="get-google-play">
    </div>
</div>

<hr>
</footer>