
<section class="my-3">
    <h2 class="capitalize font-semibold main-text text-3xl mb-4 text-center">popular products:</h2>
    <div class="w-full">
        <div class="gap-2 flex flex-wrap justify-between items-center md:justify-around">
            @for (product of productList.slice(0,20); track product.id) {
            <div class="sm:w-5/12 md:w-4/12 lg:w-2/12" >
                <div class="product ">
                    <div [routerLink]="['/details',product.id]">
                        <img [src]="product.imageCover" class="w-full" [alt]="product.title">
                    <div class="p-2">
                        <h3 class="text-sm main-text capitalize">{{product.category.name}}</h3>
                        <h4 class="text-sm">{{product.title.split(' ').slice(0,2).join(' ')}}</h4>

                        <div class="flex justify-between items-center">
                            <span class="text-sm">{{product.price}}EGP</span>
                            <div>
                                @for (num of [1,2,3,4,5].slice(0,product.ratingsAverage); track $index) {
                                <span> <i class="fas fa-star text-yellow-300"></i></span>
                                }
                                @if (product.ratingsAverage %1 !== 0) {<i
                                    class="fa-solid fa-star-half-stroke text-yellow-300"></i>}
                                <span class="text-gray-400">{{product.ratingsAverage}}</span>
                            </div>
                        </div>
                       
                    </div>
                    </div>
                    <div class="flex justify-center py-2 w-full">
                        <button class="btn-main w-9/12 " >Add to Cart</button>
                        
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
