<section class="my-6">
    <div class="bg-main-light shadow-lg rounded-xl w-9/12 mx-auto p-3">
        <h1 class="text-3xl main-text font-semibold pl-2"> login Now:</h1>
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="flex items-center py-4 flex-col">

            <div class="relative z-0 mb-4 w-6/12">
                <input formControlName="email" type="email" id="email" [ngClass]="{'is-inValid':loginForm.get('email')?.errors&& (loginForm.get('email')?.touched ||loginForm.get('email')?.dirty)}"
                    class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 main-border appearance-none dark:text-black dark:main-border dark:focus:main-border focus:outline-none focus:ring-0 focus:main-border peer"
                    placeholder=" " />
                <label for="email"
                    class="absolute text-base font-medium main-text dark:main-text duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0  peer-focus:main-text peer-focus:dark:main-text peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
                @if (loginForm.get('email')?.errors &&
                (loginForm.get('email')?.touched||loginForm.get('email')?.dirty)) {
                <div class="w-9/12 bg-red-200 border border-red-300 text-base p-1 ">
                    @if (loginForm.get('email')?.getError('required')) {
                    <p>Email Is Required</p>
                    }@else if (loginForm.get('email')?.getError('email')) {
                    <p>Enter Valid Email </p>
                    }


                </div>}
            </div>

            <div class="relative z-0 mb-4 w-6/12">
                <input formControlName="password" type="password" id="password" [ngClass]="{'is-inValid':loginForm.get('password')?.errors && (loginForm.get('phone')?.touched || loginForm.get('password')?.dirty)}"
                    class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 main-border appearance-none dark:text-black dark:main-border dark:focus:main-border focus:outline-none focus:ring-0 focus:main-border peer"
                    placeholder=" " />
                <label for="password"
                    class="absolute text-base font-medium main-text dark:main-text duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0  peer-focus:main-text peer-focus:dark:main-text peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Password</label>
                @if (loginForm.get('password')?.errors &&
                (loginForm.get('password')?.touched||loginForm.get('password')?.dirty)) {
                <div class="w-9/12 bg-red-200 border border-red-300 text-base p-1 ">
                    @if (loginForm.get('password')?.getError('required')) {
                    <p>password Is Required</p>
                    }@else if (loginForm.get('password')?.getError('pattern')) {
                    <p>Password must be at least 6 chars </p>
                    }
                </div>
                }
            </div>

            <!-- [disabled]="loginForm.invalid || isLoading" -->
            <button  class="btn-main">login
                @if (isLoading) {
                <span> <i class="fas fa-spin fa-spinner text-main"></i></span>
                }
            </button>

            @if (msgError) {

            <p class="w-6/12 bg-red-200 border border-red-300 text-base p-1 mx-auto text-center">{{msgError}}</p>

            }
            
            @if (msgSuccess) {
                <p class="w-6/12 bg-green-200 border border-green-300 text-base p-1 mx-auto text-center">Success</p>
            }
        </form>
    </div>

</section>