<!-- <nav class="bg py-2.5 ">
    <div class="flex flex-wrap items-center justify-between  px-4 mx-auto">
        <a routerLink="home" class="flex items-center">
            <img src="./assets/images/freshcart-logo.svg" class="h-6 mr-3 sm:h-9" alt="Logo">
            
        </a>
        <div class="flex items-center lg:order-2  justify-end">



                <button data-collapse-toggle="mobile-menu-2" type="button"
				class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200  dark:hover:bg-gray-700 dark:focus:ring-gray-600"
				aria-controls="mobile-menu-2" aria-expanded="true">
				<span class="sr-only">Open main menu</span>
				<svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd"
						d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
						clip-rule="evenodd"></path>
				</svg>
				<svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd"
						d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
						clip-rule="evenodd"></path>
				</svg>
			</button>
        </div>
        <div class="flex  w-full lg:flex lg:w-auto lg:order-1 " id="mobile-menu-2">
<div class="me-4">
    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
        <li>
            <a routerLink="home" routerLinkActive="active-link" class="hover:cursor-pointer capitalize block py-2  pr-4 text-gray-700  "
                aria-current="page">home</a>
        </li>
        <li class="margin-l">
            <a routerLink="products" routerLinkActive="active-link" class="hover:cursor-pointer block py-2  pr-4 text-gray-700 border-b border-gray-100  hover:bg-gray-50 lg:hover:bg-transparent lg:border-0    dark:hover:bg-gray-700 dark:hover:text-green-600 lg:dark:hover:bg-transparent dark:border-gray-700 capitalize">products</a>
        </li>

        <li class="margin-l">
            <a routerLink="categories" routerLinkActive="active-link" class="hover:cursor-pointer block py-2  pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0   dark:hover:bg-gray-700 dark:hover:text-green-600 lg:dark:hover:bg-transparent dark:border-gray-700 capitalize">categories</a>
        </li>
        <li class="margin-l">
            <a routerLink="brands" routerLinkActive="active-link" class="hover:cursor-pointer block py-2  pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0    dark:hover:bg-gray-700 dark:hover:text-green-600 lg:dark:hover:bg-transparent dark:border-gray-700 capitalize">brands</a>
        </li>
        <li class="margin-l">
            <a routerLink="wishlist" routerLinkActive="active-link" class="hover:cursor-pointer block py-2  pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0    dark:hover:bg-gray-700 dark:hover:text-green-600 lg:dark:hover:bg-transparent dark:border-gray-700 capitalize">Wishlist</a>
        </li>

    </ul>
</div>
<div class="flex items-center">
    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-2 lg:mt-0 mr-0 items-center">
        <li class="relative">
            <a routerLink="/cart" routerLinkActive="active-link" class=" hover:cursor-pointer block py-2 pl-2 pr-4 text-gray-700 border-b border-gray-100  hover:bg-gray-50 lg:hover:bg-transparent lg:border-0    dark:hover:bg-gray-700 dark:hover:text-green-600 lg:dark:hover:bg-transparent dark:border-gray-700 capitalize"><i class="fa-solid fa-cart-shopping text-lg"></i></a>
            <div class="bg-blue-500 main-text rounded-1xl absolute counter">
                <span class="text-white text-sm p-1">{{cartNum}}</span>
            </div>
        </li>
        <li>
            <a class="nav-link text-lg p-1  hover:bg-green-600 hover:text-white cursor-pointer" href="https://www.instagram.com/accounts/login/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li>
            <a class="nav-link text-lg p-1  hover:bg-green-600 hover:text-white cursor-pointer" href="https://www.facebook.com/mrina.tarek" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>
        <li>
            <a class="nav-link text-lg p-1  hover:bg-green-600 hover:text-white cursor-pointer" href="https://www.tiktok.com/" target="_blank">
                <i class="fa-brands fa-tiktok"></i>
            </a>
        </li>
        <li>
            <a class="nav-link text-lg p-1  hover:bg-green-600 hover:text-white cursor-pointer" href="https://x.com/" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </li>
        <li>
            <a class="nav-link text-lg p-1  hover:bg-green-600 hover:text-white cursor-pointer" href="https://www.linkedin.com/in/marina-tarek-83a5a7320" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a class="nav-link text-lg p-1  hover:bg-green-600 hover:text-white cursor-pointer" href="https://www.youtube.com/" target="_blank">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </li>
        <li class="cursor-pointer">
            <a  class="nav-link" (click)="_AuthService.signOut()" >
               SignOut
            </a>
        </li>


    </ul>
</div>
           
        </div>

    </div>
</nav> -->



<nav class="bg dark:bg-gray-900">
  <div class="max-w-screen-xl flex max-md:flex-wrap items-center justify-between mx-auto p-2">
    <a routerLink="home" class="flex items-center">
        <img src="./assets/images/freshcart-logo.svg" class="h-8" alt="Fresh Cart logo" />
       
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:flex  md:items-center " id="navbar-default">
      <ul class="ml-1 font-medium md:me-auto flex flex-col p-4 md:p-0 mt-4   rounded-lg md:flex-row md:space-x-1 rtl:space-x-reverse md:mt-0 md:border-0">

        <li>
            <a routerLink="home" routerLinkActive="active-link" class="capitalize block text-gray-500 py-2 px-3" aria-current="page">home</a>
        </li>
        <li >
            <a routerLink="products" routerLinkActive="active-link" class="capitalize block text-gray-500 py-2 px-3">products</a>
        </li>

        <li >
            <a routerLink="categories" routerLinkActive="active-link" class="capitalize block text-gray-500 py-2 px-3 ">categories</a>
        </li>
        <li >
            <a routerLink="brands" routerLinkActive="active-link" class="capitalize block text-gray-500 py-2 px-3  ">brands</a>
        </li>
        <li class="relative" >
            <a routerLink="/wishlist" routerLinkActive="active-link" class="capitalize block text-gray-500 py-2 px-3  ">Wishlist</a>
            <div class="bg-blue-500 main-text rounded-1xl absolute counter">
                <span class="text-white text-sm p-1">{{wishlistNum}}</span>
            </div>
        </li>
      </ul>
      <ul class="font-medium ms-auto flex  p-4 md:p-0 mt-4  rounded-lg md:flex-row md:space-x-1  rtl:space-x-reverse md:mt-0 md:border-0">
        <li class="relative">
            <a routerLink="/cart" routerLinkActive="active-link" class=" hover:cursor-pointer block px-2 text-gray-700 border-b border-gray-100  hover:bg-gray-50 lg:hover:bg-transparent lg:border-0    dark:hover:bg-gray-700 dark:hover:text-green-600 lg:dark:hover:bg-transparent dark:border-gray-700 capitalize"><i class="fa-solid fa-cart-shopping text-lg"></i></a>
            <div class="bg-blue-500 main-text rounded-1xl absolute counter">
                <span class="text-white text-sm p-1">{{cartNum}}</span>
            </div>
        </li>
        <li>
            <a class="nav-link text-lg px-2   hover:bg-green-600 hover:text-white cursor-pointer" href="https://www.instagram.com/accounts/login/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li>
            <a class="nav-link text-lg px-2   hover:bg-green-600 hover:text-white cursor-pointer" href="https://www.facebook.com/mrina.tarek" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>

        <li>
            <a class="nav-link text-lg px-2   hover:bg-green-600 hover:text-white cursor-pointer" href="https://x.com/" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </li>
        <li>
            <a class="nav-link text-lg px-2   hover:bg-green-600 hover:text-white cursor-pointer" href="https://www.linkedin.com/in/marina-tarek-83a5a7320" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a class="nav-link text-lg px-2   hover:bg-green-600 hover:text-white cursor-pointer" href="https://www.youtube.com/" target="_blank">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </li>
        <li class="cursor-pointer">
            <a  class="nav-link" (click)="_AuthService.signOut()" >
               SignOut
            </a>
        </li>


    </ul>
    </div>
  </div>
</nav>
